.square {
    min-width: 36px;
    min-height: 36px;
    border: 1px solid darkgray;
    background: #86e0499a;
    margin-top: -3px;
    margin-left: -1px;
    text-align: center;
}

.square:hover {
    filter: hue-rotate(90deg);
}